@use 'variables' as *;

/* No scrollbar */
::-webkit-scrollbar {
    display: none !important;
}

html, body {
    background-color: $color-bg;
    color: $color-text;
}

.hidden {
    display: none !important;
}

a {
    color: $color-text;
    text-decoration: underline dotted;
    text-underline-offset: 2px;
}

a:hover, a:focus {
    color: $color-text-hover;
}

.logo {
    width: 8%;
    min-width: 90px;
}

.titlebar {
    display: flex;
    width: 100%;
    height: 8%;
}

.invisible {
    opacity: 0%;
}

body {
    height: 100vh;
    padding: 12px;
    font-size: 1.8em;
}

.content {
    margin-top: 6%;
    margin-left: 15%;
    margin-right: 25%;
    padding-bottom: 5%;
}

.content *::selection {
    background-color: $color-text !important;
    color: $color-text-dark !important;
    cursor: default;
}

#nav {
    margin-bottom: 5%;
}

.nav-link {
    text-decoration: none !important;
    color: $color-text;
    font-family: monospace !important;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 2rem;
}

.nav-link:hover {
    color: inherit;
    cursor: pointer;
}

.nav-link.current {
    color: $color-text-dark !important;
    background-color: $color-text;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

@media only screen and (max-width: $bp-tablet) {
    .nav-link {
        font-size: 1.4rem;
    }

    .content {
        margin-left: 5%;
        margin-right: 10%;
    }

    body {
        font-size: 1.4em;
    }

    h1 { font-size: 3.6rem; }
    h4 { font-size: 2.0rem; }
    h5 { font-size: 1.6rem; }
}

@media only screen and (max-width: $bp-mobile) {
    .nav-link {
        font-size: 1.2rem;
    }

    .content {
        margin-left: 3%;
        margin-right: 7%;
    }

    body {
        font-size: 1.2em;
    }

    h1 { font-size: 3.0rem; }
    h4 { font-size: 1.7rem; }
    h5 { font-size: 1.5rem; }
}
