// Colors
$color-bg: #121212;
$color-text: #ddd;
$color-text-hover: #999;
$color-text-dark: #000;
$color-comment: gray;
$color-terminal-green: #79dd33;
$color-terminal-blue: #3d5e82;
$color-windows-blue: #0037da;
$color-windows-red: #c50f1f;

// Breakpoints
$bp-wide: 1400px;
$bp-tablet: 920px;
$bp-mobile: 919px;

// Transitions
$transition-interactive: 0.0685s ease-in-out;
