/* no scrollbar */
::-webkit-scrollbar {
    display:none !important;
  }


body {
    color: #ddd;
    font-family: Inter, Arial, sans-serif;

    margin-left: 30%;
    margin-right: 30%;
    margin-top: 4%;
}


.code-comment {
    font-size: 2.2rem !important;
    color: gray;
    font-family: monospace !important;;
    width: fit-content;
}

.content > a {
    display: block;
    line-height: 8vh;
    text-decoration: none;
}

.content > a:hover {
    color: gray;
    cursor: default !important;;
}

.content a:hover,
.content a.current {
  font-size: larger;
}


i {
    transition: opacity 0.08s ease-in-out;
    display: inline;
}



@media only screen and (max-width: 920px) {
   
    body {
        margin-left: 10%;
        margin-right: 0%;
    }

    .code-comment {
        font-size: 1.6rem !important;
    }

    .content > a {
        line-height: 5vh;
    }


}

@media only screen and (max-width: 915px) and (min-width: 560px) {
    body {
        margin-left: 20%;
        margin-right: 0%;
    }

    .code-comment {
        font-size: 1.9rem !important;
    }

    .content > a {
        line-height: 6.5vh;
    }

}