/* no scrollbar */
::-webkit-scrollbar {
    display:none !important;
}

html, body {
    height: 100%; overflow: hidden
}


#main {
    color: #ddd;
    font-family: Inter, Arial, sans-serif;
    margin-left: 30%;
    margin-right: 15%;
    margin-top: 4%;
    overflow-y: hidden;
}

#name span {
    display: inline-block;
    transition: transform 0.125s ease-in-out;
    vertical-align: bottom;
}

#name span:hover {
    transform: translateY(-15px);
}


.code-comment {
    font-size: 2.2rem !important;
    color: gray;
    font-family: monospace !important;;
    width: fit-content;
}

.content > a {
    display: block;
    line-height: 8vh;
    text-decoration: none;
}

.content > a:hover {
    color: gray;
    cursor: default !important;;
}

.content a:hover,
.content a.current {
  font-size: calc(2.2rem + 0.5rem) !important;
}


i {
    transition: opacity 0.08s ease-in-out;
    display: inline;
}



@media only screen and (max-width: 1400px) {
    .code-comment {
        font-size: 1.8rem !important;
    }

    .content > a {
        line-height: 5.5vh;
    }

    .content a:hover,
    .content a.current {
        font-size: 2.2rem !important;
    }

    #main {
        margin-left: 10%;
        margin-right: 2%;
        margin-top: 4%;
    }


}

@media only screen and (max-width: 920px) {
    .code-comment {
        font-size: 1.4rem !important;
    }

    .content > a {
        line-height: 4.2vh;
    }

    .content a:hover,
    .content a.current {
        font-size: 1.6rem !important;
    }

    #main {
        margin-left: 1%;
        margin-right: 6%;
        margin-top: 3.3%;
    }

}