---
---

<div id="shell" class="shell">
    <div id="ssh-message">
    Linux joeymanani <span class="time-since-birthday">??.??.??</span> #1 <span id="current-date">??? ??? ? ??:??:?? GMT ????</span> x86_64
    <br><br>
    The programs included with the Debian GNU/Linux system are free software;<br>
    the exact distribution terms for each program are described in the<br>
    individual files in /usr/share/doc/*/copyright.
    <br><br>
    Debian GNU/Linux comes with ABSOLUTELY NO WARRANTY, to the extent<br>
    permitted by applicable law.
    <br>
    </div>
    <span class="green">you@joeymanani.com</span>:<span class="blue">~</span>$ joey --version
    <p>Joey <span class="time-since-birthday">??.??.??</span></p>
    <span class="green">you@joeymanani.com</span>:<span class="blue">~</span>$ whereis joey
    <p>joey: /earth/australia/melbourne</p>
    <span class="green">you@joeymanani.com</span>:<span class="blue">~</span>$ joey --help
    <p>Usage: joey [options]</p>
    <p>Options:</p>
    <div class="shell-options">
    <p>  --version</p>
    <p>  --help</p>
    <p>  --force-update</p>
    <p>  --load</p>
    </div>
    <br>
    <p>You are running Joey <span class="time-since-birthday">??.??.??</span></p>
    <p>Press any key to skip animations!</p>
    <slot />
</div>
