---
import { Image } from 'astro:assets';
import logoImage from '../assets/images/logo.png';
---

<div class="titlebar noselect">
    <Image src={logoImage} alt="Logo" draggable="false" loading="eager" class="logo" />
</div>
